<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
</head>
<body>
    <div class="div1"></div>
      <div class="div2">
        <img src="img/eu.jpeg" alt="" class="imgeu">
           <div class="nome">Breno Lisboa Souza</div>
           <div class="curso">Desenvolvimento de sistemas</div>
           <div class="objt"><b class="obj">Objetivo</b>: Deselvolver aplicação para auxiliar na criação e interação entre RPG's de
            mesa online</div>
           <div class="hobbies"><b class="hobbie">Hobbie</b>: Jogar online e estudar linguagens de programação para descobrir suas funcionalidades e possibilidades</div>
           <div class="cttlkd"><a href="https://www.linkedin.com/in/breno-lisboa-44642b260">Acesse meu Linkedin<a></div>
           <div class="git"><a href="https://github.com/Breno-lisboa-Souza">Acesse meu GitHub</a></div>
      </div>

</body>
</html>
<router-outlet></router-outlet>
