<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div id="nome">Breno Lisboa Souza</div>
    <div id="curso">Desenvolvimento de sistemas</div>
    <div id="objt">Deselvolver aplicação para auxiliar na criação e interação entre RPG's de mesa online</div>
    <div id="hobbies">Jogar online e estudar linguagens de programação para descobrir suas funcionalidades e possibilidades</div>
    <div id="cttlkd"><a href="https://www.linkedin.com/in/breno-lisboa-44642b260">Linkedin</a></div>
    <div id="git"><a href="https://github.com/Breno-lisboa-Souza">GitHub</a></div>
</body>
</html>
<router-outlet></router-outlet>
